h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Quantico', sans-serif;
	line-height: 1rem;
	margin: 0 0 1rem 0;
	text-transform: uppercase;
	text-shadow: 1px 1px $gray-4;	
}

.shadow-none {
	text-shadow: none;
}

.shadow-white {
	text-shadow: 1px 1px $white;
}

.on-gray {
	h2, h3, h4, h5, h6 {
		text-shadow: 1px 1px $white;
	}
}

.shadow-color-1 {
	text-shadow: 1px 1px $color-1;
}

.shadow-color-4 {
	text-shadow: 1px 1px $color-4;
}

h1 {
	font-size: 2rem;
	line-height: 2rem;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
.rc {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	text-shadow: none;
}
.uc {
	text-transform: uppercase;
}
.ls1 {
	letter-spacing: 1px;
}

h2 {
	font-size: 1.75rem;
	line-height: 2rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: .75rem;
}
h6 {
	font-size: .5rem;
}